body {
  background: linear-gradient(#AAE, #AAD);
}

.row {
  clear: left;
  width: 230px;
  border-bottom: 1px solid #111;
}



.label {
  float: left;
  width: 20px;
  margin-top: 11px;

  border: 1px solid black;
  background: white;
  text-align: center;

}

.hole {
  float: left;
  width: 38px;
  height: 38px;
  margin: 1px;
  background: #111;
  border: 1px solid black;
  border-radius: 50%;
}


.answer-pegs {
  float: left;
  width: 40px;
  height: 40px;

}

.peg {
  float: left;
  width: 18px;
  height: 18px;
  

  border: 1px solid black;
  border-radius: 50%;
}



#colors {
  position: absolute;
  top: 92px;
  left: 250px;
  width: 40px;
  height: 240px;

}

#colors div {
  width: 38px;
  height: 38px;
  border: 1px solid black;
  border-radius: 50%;
}

#colors div:hover {
  border: 1px solid white;
  cursor: pointer;
}

.red {background: red;}
.green {background: green;}
.blue {background: blue;}
.yellow {background: yellow;}
.brown {background: brown;}
.pink {background: pink;}

.white {background: white;}
.black {background: black;}


#row-solution {
  /* display: none; */
}