body {
  background: linear-gradient(#AAE, #AAD);
}

.row {
  clear: left;
  width: 230px;
  border-bottom: 1px solid #111;
}



.label {
  float: left;
  width: 20px;
  margin-top: 11px;

  border: 1px solid black;
  border-radius: 5px;

  background: #EEE;
  text-align: center;

  box-shadow: 2px 2px 2px black;

}

.hole {
  float: left;
  width: 38px;
  height: 38px;
  margin: 1px;
  background: none;
  border: 1px solid black;
  border-radius: 50%;

  box-shadow: inset 3px 3px 12px white, 1px 1px 1px black;
}


.answer-pegs {
  float: left;
  width: 40px;
  height: 40px;

}

.peg {
  float: left;
  width: 18px;
  height: 18px;
  

  border: 1px solid black;
  border-radius: 50%;
  box-shadow: inset 1px 1px 3px white, 1px 1px 1px black;
}



#colors {
  position: absolute;
  top: 92px;
  left: 250px;
  width: 40px;
  height: 240px;


}

#colors div {
  width: 38px;
  height: 38px;
  margin: 1px;
  border-radius: 50%;

  border: 1px solid black;
  box-shadow: inset 3px 3px 12px white, 1px 1px 1px black;
}

#colors div:hover {
  border: 1px solid white;
  cursor: pointer;
}

.red {background: red;}
.green {background: green;}
.blue {background: blue;}
.yellow {background: yellow;}
.brown {background: brown;}
.black {background: black;}
.white {background: lightgray;}




#row-solution {
  display: none;
}



#message {
  position: absolute;
  text-align: center;
  top: 7px;
  left: 245px;
  height: 65px;
  width: 70px;
  border: 1px solid black;
  border-radius: 15px;
  background: #EEE;
  padding: 5px;
  font-size: 0.9em;
  box-shadow: 1px 1px 1px 1px black;
}